<!DOCTYPE html>
<html>

<head>
  <%- include('head.ejs') %>
</head>

<body>
  <div class="is-center" style="height:100%; position:relative">
    <div style="position: absolute; top: 50%; width: 100%; margin-top: -50px; color: white">
      <h1><%= __('AFTER_VOTE')%></h1>
      <p><a href="/"><%= __('404_MESSAGE')%></a></p>
    </div>
  </div>

  <script>
  </script>
</body>

</html>