<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a responsive product landing page.">
<title>EuroVote 2021</title>

<link rel="stylesheet" href="public/pure-min.css"
    integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
<link rel="stylesheet" href="public/grids-responsive-min.css">
<link rel="stylesheet" href="public/font-awesome.css">
<link rel="stylesheet" href="public/1.css">
<link rel="stylesheet" href="public/2.css">
<script src="public/combo_002.js"></script>
<script src="public/jquery.min.js"></script>
<script charset="utf-8" id="yui_3_18_1_1_1556707393044_2" src="public/combo.js" async=""></script>